<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/videoList.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/customUtils/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="js/element-ui/lib/theme-chalk/index.css"/>
    <script src="js/element-ui/lib/index.js"></script>
    <script src="js/customUtils/qs.js"></script>
    <script type="text/javascript" src="js/customUtils/UserInfoUtils.js"></script>
</head>
<body>
<div id="app">
    <div class="title">
        <div class="title-background">
            <img id="title_bg" class="title-background" alt="">
            <div class="title-content">
                <div class="title-back" @click="btnCloseWindow()"><img src="images-video/back_white.png" alt=""/></div>
                <div class='grade-name' id="title"></div>
                <div class='version-name' id="subtitle"></div>
                <div class="top-right-reserve-basic" id="chooseBook">
                    <div class="top-right-reserve-basic-image" @click="openGradeBookList()"
                         @mousedown="onKeyDownChooseBook()"
                         @mouseup="onKeyUpChooseBook()" @mouseout="onKeyOverChooseBook">
                        <img id="choose_book_img" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-title-container-primary">
        <div v-for="(item,index) in gradeListDirBooks">
            <div class="video-list">
                <div class="video-unit-list-top">
                    <div class="video-unit-list-top-line"></div>
                    <div class="video-unit-list-top-title">{{item.name}}</div>
                </div>
                <div v-if="item.children.length > 0">
                    <div v-for="(children,index) in item.children">
                        <div class="each-unit-image-container-basic">
                            <img class="each-unit-image-basic"
                                 v-bind:src="children.videocover" alt="">
                            <div class="each-unit-mask-basic"  @click="selectVideo(children)">
                                <!--            <div v-if="{{item.videoMessages[k].process != undefined}}">-->
                                <div class="video-progress-basic">0%</div>
                                <!--            </div>-->
                                <div v-if="children.is_free == '1'">
                                    <img class="vip-basic" src="images-video/mianfei.png" alt=""/>
                                </div>
                                <div v-if="children.is_free == '0'">
                                    <img class="vip-basic" src="images-video/huiyuan.png" alt=""/>
                                </div>
                            </div>
                            <div class="each-unit-play-basic">
                                <div v-if="subjectId == 0">
                                    <img src="images-video/bf_yy.png" alt="英语">
                                </div>
                                <div v-else-if="subjectId == 1">
                                    <img src="images-video/bf_yw.png" alt="语文">
                                </div>
                                <div v-else-if="subjectId == 2">
                                    <img src="images-video/bf_sx.png" alt="数学">
                                </div>
                            </div>
                            <div class="each-unit-name-basic">{{'第' + (index + 1) + '课时'}}</div>
                            <div class="each-unit-name-basic2" style="margin-top: 100px" @click="startListening()">听写
                            </div>
                        </div>
                        <div v-if="subjectId !== 1">
                            <div class="video-unit-list-bottom-title">{{children.name}}</div>
                        </div>
                    </div>
                </div>
                <div v-else-if="item.children.length === 0">
                    <div class="each-unit-image-container-basic">
                        <img class="each-unit-image-basic" v-bind:src="item.videocover"
                             alt="">
                        <div class="each-unit-mask-basic"  @click="selectVideo(item)">
                            <!--            <div v-if="{{item.videoMessages[k].process != undefined}}">-->
                            <div class="video-progress-basic">0%</div>
                            <!--            </div>-->
                            <div v-if="item.is_free == '1'">
                                <img class="vip-basic" src="images-video/mianfei.png" alt=""/>
                            </div>
                            <div v-if="item.is_free == '0'">
                                <img class="vip-basic" src="images-video/huiyuan.png" alt=""/>
                            </div>
                        </div>
                        <div class="each-unit-play-basic">
                            <div v-if="subjectId == 0">
                                <img src="images-video/bf_yy.png" alt="英语">
                            </div>
                            <div v-else-if="subjectId == 1">
                                <img src="images-video/bf_yw.png" alt="语文">
                            </div>
                            <div v-else-if="subjectId == 2">
                                <img src="images-video/bf_sx.png" alt="数学">
                            </div>
                        </div>
                        <div class="each-unit-name-basic">{{'第' + (0 + 1) + '课时'}}</div>
                        <div class="btn-listening-study"  @click="startListening()">
                            <div v-if="subjectId === 0">
                                <img class="btn-listening-study-img" src="images-video/ml_tx.png">
                            </div>
                            <div v-if="subjectId === 1">
                                <img class="btn-listening-study-img" src="images-video/yw_vb_tx.png">
                            </div>
                            <div class="each-unit-name-basic2">听写</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="js/videoList.js"></script>
</body>
</html>