<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/videoList.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.13.0/lib/index.js"></script>
    <link href="//unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="title">
        <div class="title-background">
            <img class="title-background" src="images-video/chinese_title_bg.png" alt="">
            <div class="title-content">
                <div class="title-back"><img src="images-video/back_white.png" alt=""/></div>
                <div class='grade-name' id="title"></div>
                <div class='version-name' id="subtitle"></div>
                <div class="top-right-reserve-basic" id="chooseBook">
                    <div class="top-right-reserve-basic-image" @click="dialogVisible = true"
                         @mousedown="onKeyDownChooseBook()"
                         @mouseup="onKeyUpChooseBook()" @mouseout="onKeyOverChooseBook">
                        <img id="choose_book_img" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version-list-container-primary">
        <el-dialog
                :visible.sync="dialogVisible"
                width="100%"
                :fullscreen="true"
                :show-close="false">
            <div class="choose-book">
                <div class="grade-selector-primary">
                    <div class="container">
                        <img class="grade-vertical-one-primary" src="images-video/xzjc_xx2.png" alt="">
                        <img class="grade-vertical-two-primary" src="images-video/xzjc_xx2.png" alt="">
                        <img class="grade-horizontal-primary" src="images-video/xzjc_xx1.png" alt="">
                        <div v-for="item in gradeListDirSelect">
                            <div class="each-grade-primary">
                                <div class="each-grade-title-primary">{{item.name}}</div>
                                <div v-for="terms in item.terms" class="each-term-primary ">
                                    <div v-if="gradeIndex === terms.id" @click="checkGrade(terms.id)">
                                        <div class="grade-term-selected-primary">
                                            {{terms.name}}
                                        </div>
                                    </div>
                                    <div v-else-if="gradeIndex != terms.id" @click="checkGrade(terms.id)">
                                        <div class="each-term-primary">
                                            {{terms.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="version-list-container-primary">
                <div class="body-select-book">
                    <div v-for="count in 10" class="body-selected-book-bg ">
                        <div v-if="count === 1">
                            <div class="each-term-selected-primary">
                                <div style="padding-top: 20px;color: #ffffff">{{count}}</div>
                                <div style="padding-top: 20px;color: #ffffff">{{count}}</div>
                            </div>
                        </div>
                        <div v-else-if="count != 1">
                            <div class="each-term-unselected-primary">
                                <div style="padding-top: 20px;color: #00a2fe">{{count}}</div>
                                <div style="padding-top: 20px;color: #00a2fe">{{count}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="bottom-buttons">
                <img class="bottom-background" src="images-video/xzjc_bj.png" alt=""/>
                <div class="bottom-cancel-normal" @click="dialogVisible = false">取 消</div>
                <div class="bottom-submit-normal" @click="dialogVisible = false">选好了</div>
            </div>
        </el-dialog>
    </div>
</div>
</div>
<script type="text/javascript" src="js/videoList.js"></script>
</body>
</html>